
#first-row{
display: flex;
flex-direction: row;
flex-wrap:nowrap;
justify-content: center;
align-items: flex-start;
}

#first-row nth-child(1), #first-row nth-child(2) {
    flex-basis:15%;
}
#first-row nth-child(3){
    flex-basis:30%;
}

form {
display:flex;
flex-direction: column;
justify-content: center;
}


form > *{
    margin:auto;
}

fieldset {
    margin:2rem;
}


#second-row {
    display:flex;
    flex-direction: row;
    flex-flow:nowrap;
    justify-content:flex-start;
    font-size:0.8rem;
}

#second-row p{
    text-align:center;
}
#second-row div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
#showings, #films {
     display: inline-flex;
    flex-direction: column;
}
#showings div, #films div, #prices div {
    display: flex;
    flex-direction: row;
    flex-flow:nowrap;
    justify-content:space-between;
    border:1px solid grey;
}

#films .modify {
    display:flex;
    flex-direction: row;
    flex-flow:nowrap;
     justify-content:space-between;
     align-items: center;
}

#showings div span:hover,#films div span:hover, #prices div span:hover  {
    cursor:pointer;
}





/* CALENDAR CSS */
#calendar {
    margin: auto;
    text-align: center;
    line-height: 2;
}

#calendar p {
    font-weight: 300;
}


.today {
    background-color: grey;
}

table {
    vertical-align: top;
    border-collapse: collapse;
}

tbody tr:hover {
    background-color: #fff;
}

td {
    text-align: center;
    line-height: 1.75rem;
    width: 1.75rem;
    margin:2px;
}

thead td {
    color: #999;
    font-size: .75rem;
    text-transform: uppercase;
}

tbody td {
    font-size: .875rem;
}

tbody td:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

td.before,
td.after {
    color: #999;
}

#next:hover,
#previous:hover {
    background-color: orange;
}

.date-clicked {
    background-color:orange;
}

.not-selectable {
         background-color: #FFFFF0;

}
.not-selectable:hover{
    cursor:not-allowed;
    background-color:#FFFFF0;
}
/* TIME */

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.time-control {
    display:flex;
    justify-content: center;
    margin:1rem 0;
}

.hours {
    font-size: .7em;
    color: #999;
}