body {
    background-color: #1D2733;
}

p{
    cursor:default;
}
#first-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

#first-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#first-row nth-child(1),
#first-row nth-child(2) {
    flex-basis: 15%;
}

#first-row nth-child(3) {
    flex-basis: 30%;
}
hr {
    width:80vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


form>* {
    margin: auto;
}

fieldset {
    margin: 2rem;
}


#second-row ,#third-row,#fourth-row{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: center;
    
    font-size: 0.8rem;
}

#second-row p, #third-row p, #fourth-row p {
    color: #c9cccd;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0.5rem;
}

#showings,
#films,
#prices,
#tickets,
#customers,
 {
    display: inline-flex;
    flex-direction: column;
    margin: 1rem;
}

.film-titles,
#showings-listed div,
#films div,
#prices div,
#tickets div,
#customers div {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    border: 1px solid grey;
}

.film-titles:hover, #customers div {
    background-color: grey;
    cursor:pointer;
}
.film-titles p {
    cursor:pointer;
}

#films .modify,
#showings .modify,
#prices .modify ,
#tickets .modify,
#customers .modify{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
}

.modify i {
    margin: 0 10px;
}

.fa:hover {
    cursor: pointer;
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
}


#edit-customer{
    display:none;
}



/* CALENDAR CSS */

#calendar {
    margin: auto;
    text-align: center;
    line-height: 2;
color: #c9cccd;
}

#calendar p {
    font-weight: 300;

}


.today {
    background-color: grey;
}

table {
    vertical-align: top;
    border-collapse: collapse;
}

tbody tr:hover {
   /* background-color: #fff;*/
}

td {
    text-align: center;
    line-height: 1.75rem;
    width: 1.75rem;
    margin: 2px;
}

thead td {
    color: #c9cccd;
    font-size: .75rem;
    text-transform: uppercase;
}

tbody td {
    font-size: .875rem;
}

tbody td:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

td.before,
td.after {
   color: #c9cccd;
}

#next:hover,
#previous:hover {
    background-color: orange;
}

.date-clicked {
    background-color: orange;
}

.not-selectable {
    background-color: #FFFFF0;
    color:black;
}

.not-selectable:hover {
    cursor: not-allowed;
   
}


/* TIME */

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.time-control {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.hours {
    font-size: .7em;
    color: #999;
}




.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;

}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}